* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 956px;
  margin: 0 auto;
}

header {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 5px;
}

.main-container {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  grid-template-areas: "box1 box1 box2 box2" "box3 box3 box4 box5" "box3 box3 box6 box6" "box7 box8 box9 box10"
}

.box:nth-child(even) {
  background-color: powderblue;
}

.box:nth-child(odd) {
  background-color: lightgray;
}

/* box1 content */

.box1 {
  grid-area: box1;
}

.sunset1 img {
  display: block;
  width: 165px;
  height: 140px;
  margin: 0px 10px 14px 10px;
  float: left;
  border-radius: 20px;
}
/* powderblue button */
button {
  margin: 0px 20px 10px 10px;
  padding: 5px 20px 5px 20px;
  float: right;
  border-radius: 4px;
  border: 1px solid white;
  background-color: powderblue;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: lightgray;
  color: black;
  border: 1px solid black;
}
/* grey button */
.bgrey {
  margin: 0px 20px 10px 10px;
  padding: 5px 20px 5px 20px;
  float: right;
  border-radius: 4px;
  border: 1px solid white;
  background-color: lightgray;
  cursor: pointer;
  color: white;
}
.bgrey:hover {
  background-color: powderblue;
  color: black;
  border: 1px solid black;
}

/* end box1 content, start box2 content */

.box2 {
  grid-area: box2;
}

.alamo2 img {
  display: block;
  width: 165px;
  height: 140px;
  margin: 0px 10px 14px 10px;
  float: left;
  border-radius: 20px;
}

/* end box2 content, start box3 content */

.box3 {
  grid-area: box3;
}

h2 {
  text-align: center;
  font-size: 42px;
  margin: 0 auto;
  padding: 20px 10px 20px 10px;
  font-weight: lighter;
  letter-spacing: 5px;
  color: white;
}
h2:hover {
  color: black;
}
.grandma3 img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 80px;
}

/* end box3 content, start box4 content */

.box4 {
  grid-area: box4;
}

.bingo4 img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.bingop {
  margin: 0px 10px 10px 10px;
}

/* end box4 content, start box5 content */

.box5 {
  grid-area: box5;
}

.fiesta5 img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  border-radius: 80px;
  margin-top: 14px;
}

.fiestap {
  margin: 8px 10px 0px 10px;
}

/* end box5 content, start box6 content */

.box6 {
  grid-area: box6;
}

.spurs6 img {
  display: block;
  width: 235px;
  height: 100px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  float: left;
}

.spursp {
  font-size: 16px;
  padding-top: 5px;
}

/* end box6 content, start box7 content */

.box7 {
  grid-area: box7;
}

.fiesta7 img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  padding-top: 15px;
}

.fiesta7p {
  padding: 0px 5px 0px 5px;
  text-align: center;
}

/* end box7 content, start box8 content */

.box8 {
  grid-area: box8;
}

.tower8 img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.tower8p {
  padding: 0px 3px 0px 3px;
  text-align: center;
}

/* end box8 content, start box9 content */
.box9 {
  grid-area: box9;
}

.fam9 img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding-top: 15px;
  border-radius: 50px;
}

.fam9p {
  text-align: center;
  padding: 0px 5px 0px 5px;
}

/* end box9 content, start box10 content */

.box10 {
  grid-area: box10;
}

.gandg10 img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 85px;
}

.gandg10p {
  text-align: center;
}
footer{
  padding: 10px;
}
