body {
  width: 992px;
  margin: 0 auto;
  padding: 2%;
}
.container {
  background-color: #2bcdc0;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.title {
  color: white;
  font-size: 32px;
  text-align: center;
}
.flex {
  width: 992px;
  height: 360px;
  background: black;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#textarea {
  font-style: normal;
  font-size: 26px;
  margin:20px;
  color: white;
}
p{
  font-size: 16px;
  text-align: center;
}
h3 {
  text-align: center;
}
.column {
  width: 200px;
  color:#ffffff;
  text-align: center;
}
.column:nth-child(1){
  border-top: 30px solid #33a8dd;
}
.column:nth-child(2){
  border-top: 30px solid #f46731;
}
.column:nth-child(3){
  border-top: 30px solid #2bcdc0;
}


@media(max-width:576px){
  title-container{
    background-color: blue;
  }
}
