body {
  width: 850px;
  margin: 20px auto;
  font-family: sans-serif;
}
/* border */
#top, #right {
  background: black;
  position: fixed;
}

#right {
  top: 0;
  bottom: 0;
  width: 2px;
}

#right {
  right: 0;
}

#top {
  left: 0;
  right: 0;
  height: 2px;
}

#top {
  top: 0;
}

.flex {
  display: flex;
  justify-content: space-around;
}

/* section left */
.sectionleft {
  width: 600px;
}

img {
  width: 100%;
  float: left !important;
  margin: 5px;
  padding-bottom: 10px;
}
button {
  background: #484848;
  color: white;
  text-transform: uppercase;
  padding: 5px;
}
/* begin of section right */
.sectionright {
  width: 250px;
  margin-left: 40px;
  /* border-right: 2px solid black; */

}

h2 {
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-size: 18px;
}
h3 {
  font-size: 12px;
}
